attrs==25.3.0
beautifulsoup4==4.13.3
boto3==1.37.28
botocore==1.37.28
certifi==2025.1.31
charset-normalizer==3.4.1
dingpy==1.0.6
docutils==0.15.2
exceptiongroup==1.2.2
h11==0.14.0
idna==3.10
jmespath==0.10.0
mac-imessage==0.2.0
MouseInfo==0.1.3
outcome==1.3.0.post0
pillow==11.1.0
PyAutoGUI==0.9.54
pydub==0.24.1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytweening==1.2.0
PyYAML==6.0.2
requests==2.32.3
rubicon-objc==0.5.0
s3transfer==0.3.7
selenium==4.31.0
simpleaudio==1.0.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.1
undetected-chromedriver==3.5.5
urllib3==2.3.0
websocket-client==1.8.0
websockets==15.0.1
wsproto==1.2.0
